<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Obiettivi - BitFun.com</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='bitfunlogo.png') }}" alt="BitFun.com Logo" class="logo">
    <h1>BitFun2025.com</h1>
    <h2>Obiettivi da raggiungere</h2>
    <h2>(1 referral = 0.001 BTC)</h2>
</header>

<section>
    <h2>I tuoi traguardi</h2>
    <ol>
        <li><strong>2 referral</strong> Primo Obiettivo → <em><strong>0.002 BTC</strong>  (ogni mese sul tuo wallet)</em></li>
        <li><strong>10 referral</strong> Secondo Obiettivo → <em><strong>0.01 BTC</strong>  (ogni mese sul tuo wallet)</em></li>
        <li><strong>20 referral</strong> Terzo Obiettivo → <em><strong>0.02 BTC </strong> (ogni mese sul tuo wallet) </em></li>
        <li><strong>40 referral</strong> Quarto Obiettivo → <em><strong>0.04 BTC </strong> (ogni mese sul tuo wallet)</em></li>
        <li><strong>60 referral</strong> Quinto obiettivo → <em><strong>0.06 BTC</strong>  (ogni mese sul tuo wallet)</em></li>
        <li><strong>80 referral</strong> Sesto Obiettivo → <em><strong>0.08 BTC </strong> (ogni mese sul tuo wallet)</em></li>
        <li><strong>100 referral</strong> Settimo Obiettivo → <em><strong>0.1 BTC</strong>  (ogni mese sul tuo wallet)</em></li>
        <li><strong>Oltre i 100 referral</strong> → 🚀 <em>Grandi sorprese in arrivo!</em></li>
    </ol>

   </section>
<footer>
    <p>Hai bisogno di aiuto? Contatta il nostro supporto: 
        <a href="mailto:bitfuncentral@outlook.com">bitfuncentral@outlook.com</a>
    </p>
</footer>


</body>
</html>
